body {
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.app {
	margin-top: 20px;
}
/* Card */
	.answer {
		display: flex;
		flex-direction: column;
		position: relative;
		align-items: center;
		justify-content: center;
		width: 30vw;
		height: 30vh;
		box-shadow: 0 5px 10px #ccc;
		transition: 0.3s;
	}
	.answer:hover {
		box-shadow: 0 10px 15px #ccc;
		transition: 0.3s;
	}
	
	.term {
		font-family: 'Castoro', serif;
		font-style: italic;
		font-size: 2em;
	}

	.good {
		border: 5px solid #0f0;
	}
	.bad {
		border: 5px solid #f00;
	}
	.neutral {
		border: 5px solid #fff;
	}



.stat {
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.variants {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 20px;
}
.variants .button {
	margin-top: 10px;
	padding: 5px 0px;
	background: #fff;
	border: 3px solid #00005b;
	user-select: none;
	outline: none;
	cursor: pointer;
}
.variants .button:hover {
	border: 3px solid #00005b;
}
.variants .button:active {
	border: 3px solid #00005b;
}