/* main */
	body {
		margin: 0px;
		background: hsl(47, 95%, 95%);
		font-family: 'Georgia Pro', serif;
	}
	main {
		display: flex;
		flex-direction: column;
		align-items: center;

		width: calc(100% - 50px);
		height: auto;
		min-height: 100vh;
	}
	.icon {
		width: 20px;
		height: 20px;
	}

/* main-menu */
	main.main-menu {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;

		width: 100%;

		margin-top: 0px;
	}
	div.main-menu {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;

		width: 800px;
	}	
	.menu-link:link {
		text-decoration: none;
		color: #000;
	}
	.menu-link:visited {
		text-decoration: none;
		color: #000;
	}

	@media screen and (max-width: 479px) {
		div.main-menu {
			width: 80%;
			grid-template-columns: 1fr;
		}
	}

/* test */
	.counter {
		position: fixed;
		top: 0;
		left: 0;

		height: 20px;
		width: 10%;
		background-color: hsl(30, 100%, 60%);

		transition: 0.3s;
	}

	header.test, main.test {
		margin-top: 20px;
		width: 100%;
	}

	.test-menu, .test-results {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100vh;

		background: hsl(47, 95%, 95%);

		position: absolute;
		left: 0px;
		top: 0px;

		transform: translateX(0%);
		z-index: 10;
		opacity: 1;
		transition: 1s;
	}
	.test-container, .results-container {
		max-width: 400px;
		margin: 20px;
	}

	/* test-menu */
		.test-ul {
			padding: 40px;
			margin: 0px;
			list-style: none;
		}

		li.test-select {
			margin-bottom: 30px;
		}
		select.test-select {
			user-select: none;
			outline: none;
			border: none;
			padding: 10px;
			width: 100%;
			color: #fff;
			font-size: 1em;
			background: hsl(47, 95%, 50%);
		}

		.count {
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}

		input.test-select {
			margin: 0;
			color: #fff;
			background: #fff;
			width: 80%;
		}
		output.test-select {
			margin-left: 20px;
			font-family: sans-serif;
			font-size: 1em;
		}

		h2.test-select {
			font-family: sans-serif;
			color: #000;
			margin: 0px 0px 10px 0px;
		}

		.test-button {
			font-family: sans-serif;
			height: 50px;
			width: 100%;
		}

	/* test-results */
		.results-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			padding: 40px;
			margin: 0px;
			list-style: none;

			height: 50vh;

			font-family: sans-serif;
		}
		.result-diagram {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			position: relative;

			height: 220px; 
			width: 220px;

			padding: 20px;
			margin: 0 0 40px 0;
		}
		.diagram {
			width: 220px;
			height: 220px;

			transform: rotate(-90deg);
			transition: all 1s ease-in-out;
			  
			/* SVG */
			fill: none;
			stroke: hsl(47, 95%, 70%);
			stroke-width: 8;
			stroke-linecap: round;
			stroke-dasharray: 0 999;
		}
		.result { 
			position: absolute;
			top: 50%;
			left: 50%;

			transform: translateX(-50%) translateY(-50%);

			font-size: 5em;
			margin: 0;
		}
		.result-plain-text {
			font-size: 1.5em;
		}

/* app */
	.app-section {
		width: 350px;
	}

	@media screen and (max-width: 479px) {
		.app-section {
			width: 80%;
		}

		main.learn {
			margin-top: 50px;
			width: 100%;
		}
	}

	@media all and (min-width: 1000px) {
		.app {
			width: 400px;
		}
	}

	.card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 30vh;	
	}

	img.term {
		width: 100px;
	}
	p.term {
		margin: 0px;
		padding: 15px;
		font-style: italic;
		font-size: 2.5em;
	}

	.buttons {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

/* animation */
	.hide-to-top {
		transform: translateY(-20%);
		opacity: 0;
		z-index: -2;
		transition: 1s;
	}

/* menu */
	aside.menu {
		z-index: 2;
		position: fixed;
		left: 100%;
		top: 0px;

		width: 40%;
		height: 100vh;
		transition: 0.3s;
	}
	.menu-active {
		transform: translate(-100%);
		transition: 0.3s;
	}

	div.menu {
		display: flex;
		flex-direction: column;
		align-items: center;

		background: hsl(30, 100%, 40%);
		width: 100%;
		height: 100%;
	}

	.menu-setting-block {
		width: 90%;
		padding: 30px 10px 10px 10px;
		margin: 0px 20px 20px 30px;
	}

	h2.menu {
		font-family: sans-serif;
		color: #fff;
		margin: 0px 0px 10px 0px;
	}

	select.menu {
		user-select: none;
		outline: none;
		border: none;
		padding: 10px;
		width: 100%;
		color: #fff;
		font-size: 1em;
		background: hsl(30, 100%, 60%);
	}
	select.menu:hover {
		cursor: pointer;
	}

	button.close {
		user-select: none;
		outline: none;
		background: hsl(30, 100%, 60%);
		border: none;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;

		position: absolute;
		left: -50px;
		top: 0px;
		padding-top: 15px;

		width: 50px;
		height: 100vh;
		opacity: 0.5;
		transition: 0.3s;
	}
	button.close:hover {
		cursor: pointer;
		background: hsla(30, 100%, 60%, 100%);
		opacity: 1;
		transition: 0.3s;
	}

	/* mobile */
		@media screen and (max-width: 479px) {
			aside.menu {
				position: fixed;
				left: 0px;
				top: calc(-60vh + 40px);
				width: 100%;
				height: calc(60vh - 40px);
			}
			.menu-active {
				transform: translateY(100%);

				transition: 0.3s;
			}

			button.close {
				position: absolute;
				top: 100%;
				left: 0px;
				padding-top: 0px;

				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				width: 100vw;
				height: 40px;

				opacity: 1;
			}	
		}

/* header */
	header {
		display: flex;
		justify-content: center;

		width: calc(100% - 50px);

		margin-right: 50px;
	}

	.attention {
		padding: 20px;
		margin: 0px 0px 20px 0px;

		width: 90%;
	
		font-family: sans-serif;
		text-align: center;
		font-size: 1em;

		border-left: 5px dashed hsl(0, 100%, 25%);
		background: hsl(0, 100%, 86%);
		color: hsl(0, 100%, 25%);
	}

	@media screen and (max-width: 479px) {
		header {
			width: 100%;
		}

		.attention {
			margin: 30px 0px;
			width: 80%;	
		}
	}

/* footer */
	footer { 
		z-index: 1;
		position: relative;
		height: 100px;
		width: 100%;
		clear: both;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: hsl(47, 95%, 80%);
	}

	ul.footer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
	li.footer {
		margin: 5px 10px;
		font-family: sans-serif;
	}
	a.footer {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	svg.footer {
		padding-right: 5px; 
	}

	.footer a:link {
		color: #000;
		text-decoration: none;
		opacity: 0.5;
		transition: 0.3s;
	}
	.footer a:visited {
		color: #000;
		opacity: 1;
		transition: 0.3s;
	}
	.footer a:hover {
		opacity: 1;
		transition: 0.3s;
	}
	.footer a:active {
		opacity: 1;
		transition: 0.3s;
	}
	
/* components */
	.collection {
		background: #fff;
		box-shadow: 5px 5px 0px 0px hsl(47, 95%, 70%);
	}

	.collection-animate {
		background: #fff;
		box-shadow: 5px 5px 0px 0px hsl(47, 95%, 70%);
		transition: 0.3s;
	}
	.collection-animate:hover {
		cursor: pointer;

		transform: translate(-2px, -2px);
		box-shadow: 12px 12px 0px 0px hsl(47, 95%, 70%);
		transition: 0.3s;
	}
	.collection-animate:active {
		transform: translate(0px, 0px);
		box-shadow: 5px 5px 0px 0px hsl(47, 95%, 70%);
		transition: 0.3s;
	}

	@media (max-width: 500px) {
		.collection-animate:hover {
			box-shadow: 5px 5px 0px 0px hsl(47, 95%, 70%);
			transform: translate(0px, 0px);
		}
		.collection-animate:active {
			transform: translate(10px, 10px);
			box-shadow: 5px 5px 0px 0px hsl(47, 95%, 70%);
		}
	}

	.button {
		position: relative;
		appearance: none;
		user-select: none;
		border-radius: 0px;
		border: none;
		outline: none;

		width: 100%;

		font-size: 1.5em;
		font-family: 'Georgia Pro', serif;

		margin-top: 25px;
		padding: 10px;
	}

	.correct {
		box-shadow: 5px 5px 0px 0px hsl(104, 66%, 67%);
		transition: 0.3s;
	}
	.correct:hover {
		transform: translate(-2px, -2px);
		box-shadow: 12px 12px 0px 0px hsl(104, 66%, 67%);
	}
	.correct:active {
		transform: translate(0px, 0px);
		box-shadow: 5px 5px 0px 0px hsl(104, 66%, 67%);
	}

	.incorrect {
		box-shadow: 5px 5px 0px 0px hsl(347, 82%, 41%);
		transition: 0.3s;
	}
	.incorrect:hover {
		transform: translate(-2px, -2px);
		box-shadow: 12px 12px 0px 0px hsl(347, 82%, 41%);
	}
	.incorrect:active {
		transform: translate(0px, 0px);
		box-shadow: 5px 5px 0px 0px hsl(347, 82%, 41%);
	}

	@media (max-width: 500px) {
		.correct:hover {
			box-shadow: 5px 5px 0px 0px hsl(104, 66%, 67%);
			transform: translate(0px, 0px);
		}
		.correct:active {
			box-shadow: 5px 5px 0px 0px hsl(104, 66%, 67%);
			transform: translate(5px, 5px);
		}

		.incorrect:hover {
			box-shadow: 5px 5px 0px 0px hsl(347, 82%, 41%);
			transform: translate(0px, 0px);
		}
		.incorrect:active {
			box-shadow: 5px 5px 0px 0px hsl(347, 82%, 41%);
			transform: translate(5px, 5px);
		}
	}

	.menu-link {
		width: 100%;
		margin: 0;
		margin-top: 20px;
	}
	.link-text {
		margin: 0;
	}
	.menu-link:link {
		text-decoration: none;
		color: #000;
	}
	.menu-link:visited {
		text-decoration: none;
		color: #000;
	}