/* main */
	body {
		margin: 0px;
		background: hsl(47, 95%, 95%);
		font-family: 'Georgia Pro', serif;
	}
	main, .main {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(100% - 40px);
		height: auto;
		min-height: 100vh;
	}

/* app */
	.app-section {
		width: 350px;
	}
	.app {
		margin: 40px 0px;
	}

	@media screen and (max-width: 479px) {
		.app-section {
			width: 80%;
		}
		.app {
			margin: 50px 0px;
		}

		main, .main {
			width: 100%;
		}
	}
	@media all and (min-width: 1000px) {
		.app {
			width: 400px;
		}
	}

	.card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 30vh;	
		background: #fff;
		transition: 0.3s;
		box-shadow: 5px 5px 0px 0px hsl(47, 95%, 70%);
	}
	.card:hover {
		cursor: pointer;

		transform: translate(-5px, -5px);
		box-shadow: 15px 15px 0px 0px hsl(47, 95%, 70%);
		transition: 0.3s;
	}
	.card:active {
		transform: translate(0px, 0px);
		box-shadow: 5px 5px 0px 0px hsl(47, 95%, 70%);
		transition: 0.3s;
	}

	img.term {
		width: 100px;
	}
	p.term {
		margin: 0px;
		padding: 15px;
		font-style: italic;
		font-size: 2.5em;
	}

	.buttons {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.button {
		position: relative;
		appearance: none;
		user-select: none;
		border-radius: 0px;
		border: none;
		background: #fff;
		outline: none;

		font-family: 'Georgia Pro', serif;
		margin-top: 25px;
		padding: 10px;
		font-size: 1.5em;
		box-shadow: 5px 5px 0px 0px hsl(47, 95%, 70%);
		transition: 0.3s;
	}
	.button:hover {
		cursor: pointer;

		transform: translate(-5px, -5px);
		box-shadow: 15px 15px 0px 0px hsl(47, 95%, 70%);
		transition: 0.3s;
	}
	.button:active {
		transform: translate(0px, 0px);
		box-shadow: 5px 5px 0px 0px hsl(47, 95%, 70%);
		transition: 0.3s;
	}

	.correct {
		box-shadow: 5px 5px 0px 0px hsl(104, 66%, 67%);
		transform: translate(0px, 0px);
	}
	.correct:hover {
		box-shadow: 15px 15px 0px 0px hsl(104, 66%, 67%);
		transform: translate(-5px, -5px);
	}
	.correct:active {
		box-shadow: 5px 5px 0px 0px hsl(104, 66%, 67%);
		transform: translate(0px, 0px);
	}

	.incorrect {
		box-shadow: 5px 5px 0px 0px hsl(347, 82%, 41%);
		transform: translate(0px, 0px);
	}
	.incorrect:hover {
		box-shadow: 15px 15px 0px 0px hsl(347, 82%, 41%);
		transform: translate(-5px, -5px);
	}
	.incorrect:active {
		box-shadow: 5px 5px 0px 0px hsl(347, 82%, 41%);
		transform: translate(0px, 0px);
	}

	/* mobile animation*/
		@media screen and (max-width: 479px) {
			.card:hover {
				transform: translate(0px, 0px);
				box-shadow: 5px 5px 0px 0px hsl(47, 95%, 70%);
				transition: 0.3s;
			}
			.card:active {
				transform: translate(5px, 5px);
				box-shadow: 5px 5px 0px 0px hsl(47, 95%, 70%);
				transition: 0.3s;
			}

			.button:hover {
				transform: translate(0px, 0px);
				box-shadow: 5px 5px 0px 0px hsl(47, 95%, 70%);
				transition: 0.3s;
			}
			.button:active {
				transform: translate(-5px, -5px);
				box-shadow: 5px 5px 0px 0px hsl(47, 95%, 70%);
				transition: 0.3s;
			}

			.correct:hover {
				box-shadow: 5px 5px 0px 0px hsl(104, 66%, 67%);
				transform: translate(0px, 0px);
			}
			.correct:active {
				box-shadow: 5px 5px 0px 0px hsl(104, 66%, 67%);
				transform: translate(5px, 5px);
			}
			.incorrect:hover {
				box-shadow: 5px 5px 0px 0px hsl(347, 82%, 41%);
				transform: translate(0px, 0px);
			}
			.incorrect:active {
				box-shadow: 5px 5px 0px 0px hsl(347, 82%, 41%);
				transform: translate(5px, 5px);
			}
		}

/* animation */
	.fade-enter-active {
		transition: opacity .5s;
	}
	.fade-enter, .fade-leave-to {
	}

/* menu */
	aside.menu {
		z-index: 2;
		position: fixed;
		left: 100%;
		top: 0px;

		width: 40%;
		height: 100vh;
		transition: 0.3s;
	}
	.menu-active {
		transform: translate(-100%);
		transition: 0.3s;
	}

	div.menu {
		display: flex;
		flex-direction: column;
		align-items: center;

		background: hsl(30, 100%, 40%);
		width: 100%;
		height: 100%;
	}

	.menu-setting-block {
		width: 90%;
		padding: 30px 10px 10px 10px;
		margin: 0px 20px 20px 30px;
	}

	h2.menu {
		font-family: sans-serif;
		color: #fff;
		margin: 0px 0px 10px 0px;
	}

	select.menu {
		user-select: none;
		outline: none;
		border: none;
		padding: 10px;
		width: 100%;
		color: #fff;
		font-size: 1em;
		background: hsl(30, 100%, 60%);
	}
	select.menu:hover {
		cursor: pointer;
	}

	button.close {
		user-select: none;
		outline: none;
		background: hsl(30, 100%, 60%);
		border: none;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;

		position: absolute;
		left: -50px;
		top: 0px;
		width: 50px;
		height: 100vh;
		opacity: 0.5;
		transition: 0.3s;
	}
	button.close:hover {
		cursor: pointer;
		background: hsla(30, 100%, 60%, 100%);
		opacity: 1;
		transition: 0.3s;
	}

	span.close {
		margin-top: 5ex;
		font-family: sans-serif;
		font-size: 1.05em;
		transform: rotate(90deg);
	}

	/* mobile */
		@media screen and (max-width: 479px) {
			aside.menu {
				position: fixed;
				left: 0px;
				top: calc(-60vh + 40px);
				width: 100%;
				height: calc(60vh - 40px);
			}
			.menu-active {
				transform: translateY(100%);

				transition: 0.3s;
			}

			button.close {
				position: absolute;
				top: 100%;
				left: 0px;

				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				width: 100vw;
				height: 40px;

				opacity: 1;
			}	

			span.close {
				margin: 0px;
				transform: rotate(0deg);
			}
		}

/* header */
	header {

	}

	.attention {
		width: 90%;		
		height: auto;
		margin-bottom: 20px;
		padding: 20px;

		border-left: 5px dashed hsl(0, 100%, 25%);	
		font-family: sans-serif;
		text-align: center;
		font-size: 1em;
		background: hsl(0, 100%, 86%);
		color: hsl(0, 100%, 25%);
	}
	@media screen and (max-width: 479px) {
		.attention {
			width: 80%;	
			margin-top: 60px;
			margin-bottom: 0px;
		}
	}

/* footer */
	footer { 
		z-index: 1;
		position: relative;
		height: 100px;
		width: 100%;
		clear: both;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: hsl(47, 95%, 80%);
	}

	ul.footer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
	li.footer {
		margin: 5px 10px;
		font-family: sans-serif;
	}

	.footer a:link {
		color: #000;
		text-decoration: none;
		opacity: 0.5;
		transition: 0.3s;
	}
	.footer a:visited {
		color: #000;
		opacity: 1;
		transition: 0.3s;
	}
	.footer a:hover {
		opacity: 1;
		transition: 0.3s;
	}
	.footer a:active {
		opacity: 1;
		transition: 0.3s;
	}
	
